---
import { Image } from "astro:assets";
import cow from "../img/cow2.jpg";
---

<section class="my-10 flex justify-center gap-5 overflow-hidden py-4 sm:gap-10">
	<div
		class="relative w-44 flex-none overflow-hidden sm:w-3/12 rotate-2 rounded-[15px]">
		<Image
			src={cow}
			alt=""
			class="object-cover image-shine h-[200px] md:h-[500px]"
			width="800"
			height="1000"
			loading="lazy"
			decoding="async"
		/>
	</div><div
		class="relative w-44 flex-none overflow-hidden sm:w-3/12 -rotate-2 rounded-[15px]">
		<Image
			src={cow}
			alt=""
			class="object-cover image-shine h-[200px] md:h-[500px]"
			width="800"
			height="1200"
			loading="lazy"
			decoding="async"
		/>
	</div><div
		class="relative w-44 flex-none overflow-hidden sm:w-3/12 rotate-2 rounded-[15px]">
		<Image
			src={cow}
			alt=""
			class="object-cover image-shine h-[200px] md:h-[500px]"
			width="800"
			height="1200"
			loading="lazy"
			decoding="async"
		/>
	</div><div
		class="relative w-44 flex-none overflow-hidden sm:w-3/12 rotate-2 rounded-[15px]">
		<Image
			src={cow}
			alt=""
			class="object-cover image-shine h-[200px] md:h-[500px]"
			width="800"
			height="1200"
			loading="lazy"
			decoding="async"
		/>
	</div><div
		class="relative w-44 flex-none overflow-hidden sm:w-3/12 -rotate-2 rounded-[15px]">
		<Image
			src={cow}
			alt=""
			class="object-cover image-shine h-[200px] md:h-[500px]"
			width="800"
			height="1000"
			loading="lazy"
			decoding="async"
		/>
	</div>
</section>

<style></style>
