---
import instagram from "../icons/instagram.svg";
import twitter from "../icons/twitter.svg";
import linkedin from "../icons/linkedin.svg";
import youtube from "../icons/youtube.svg";
import WhatsappButton from "./WhatsappButton.astro";
---

<div class="home-content fixed left-5 bottom-12 md:bottom-5 z-10">
	<nav class="home-social h-full flex flex-col gap-4 ">
		<a href="#" target="_blank" class="home-social-link ">
			<img src={instagram.src} alt={`${instagram}link`} class="size-6" />
		</a>
		<a href="#" target="_blank" class="home-social-link">
			<img src={twitter.src} alt={`${twitter} link`} class="size-6" />
		</a>
		<a href="#" target="_blank" class="home-social-link">
			<img src={linkedin.src} alt={`${linkedin} link`} class="size-6" />
		</a>
		<a href="#" target="_blank" class="home-social-link">
			<img src={youtube.src} alt={`${youtube} link`} class="size-6" />
		</a>
	</nav>
	<WhatsappButton />
</div>

<style>
	.home-content {
		animation: separation linear both;
		animation-timeline: scroll(root);
		animation-range: 0 150px;
	}
	.home-social {
		animation: direction linear both;
		animation-timeline: scroll(root);
		animation-range: 0 300px;
	}

		@keyframes direction {
			to {
				gap: 0.75rem;
			}
		}
		@keyframes separation {
			to {
				padding: 0.5rem 0.25rem;
				border-radius: .5rem;
			}
		}
		@media(width < 768px) {
			.home-content {
				left: 0;
				bottom: 0;
			}
		}
</style>
